*.pyc
asd.py
qwe.py
img/*
output/*
main.py
altprint.egg-info/*
build/*
dist/*
gcode/*
models/*
figures/*
tests/*
cgal_bindings/y_monotone_partition/*.cxx
cgal_bindings/y_monotone_partition/*.o
cgal_bindings/y_monotone_partition/*.py
cgal_bindings/y_monotone_partition/*.so
